# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Emacs backups
*~

# IDEA related files
*.iml
*.swo
*.swp
/.idea

# Terraform related files
*.tfstate
*.tfstate.backup

# Artefacts of the etherslurp demo
etherslurp/OME
etherslurp/logid
etherslurp/mapid
etherslurp/rinkeby.json

# Artefacts of the registers demo
registers/logid
registers/mapid
