{
	"log_id": "armory-drive-log-test",
	"log_public_key": "armory-drive-log-test+a5aae457+AbDoiIsZgSk5H0v0LjKPKv5dAMb0IfB47tocFtGmyW44",
	"log_url": "https://raw.githubusercontent.com/f-secure-foundry/armory-drive-log/master/log/",
	
	"num_required": 0,

	"witnesses": [
		{
		"name": "One",
		"url": "http://localhost:8765"
		}
	]
}